body{
    font-family: "Montserrat";
    margin:0;
    padding:0;
    color:#141d1a;
    background-color: white;
    min-width:800px;
}
a{
    color:black;
}
h1{
    color: white;
    font-size: 70px;
    position: absolute;
    top:200px;
    left: 50px;
    font-weight: bold;
}
h3{
    padding:0.5%;
    text-align: center;
    font-size: 30px;
    color:#577734;
}

p{
    font-size:19px;
}

main{
    min-height: 200px;
}
header{   
    top:0;
    width:100%;
    margin:0;
    padding:0;
    height: 110px;
    background-color: white;
    z-index: 1;
    position: fixed;
}
form{
    top:35px;
    right: 130px;
    margin:0;
    padding:0;
/*    height: 20px;*/
    z-index: 1;
    position: fixed;
}
form label{
    font-size: 13px;
}
form input{
    margin: 0 30px 0px 10px;
    float: right;
}
form h6{
    text-align: end;
    padding: 0;
    margin: 0;
    text-decoration: underline;
}
form input[type="submit"]{
    height: 22px;
    width: 100px;
    margin: 0;
}
.quote{
    font-style: italic;
}
#logo{
    width:125px;
    margin: 0px 10px;
    position: fixed;
}
#menu-icon{
    position: fixed;
    width: 70px;
    top:0;
    right: 0;
    padding: 20px;
    z-index: 1;
}
#menu-icon:hover{
    cursor: pointer;
}
#menu{
    background-color: #e9f9d7;
    position: fixed;
    top:0;
    right:0;
    width: 30%;
    height: 100%;
}
nav ul{
    margin: 10% 0 0 10%;
    list-style: none;
    padding: 0 0 0 5%;
}
nav ul li{
    margin: 0 0 4vh 0;
}
nav img{
    width: 150px;
    padding: 10px 35%;
    display: block;
    margin: 0 auto;
}
nav ul li a{
    font-size: 30px;
    text-decoration: none;
}
nav ul li a:hover{
    color: #8542bf;
}
nav ul li .active{
    color: #8542bf;
    text-decoration: underline;
}
#rect{
    background-color: white;
    height:150px;
}
#popup{
    display: none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    z-index:10;
    background-color: rgba(0,0,0,0.8);    
}
.container{
    margin: 0 auto;
    padding:4%;
    width:50%;
    margin-top: 110px;
}

.flex{
    display: flex;
}
#hero{
    background: 
        linear-gradient(
            rgba(90, 72, 24, 0.71), 
            rgba(181, 146, 50, 0.45)
        ),
        url("../img/leaves.jpg");
    position: relative;
    top:110px;
    background-size:cover;
    background-position: center;
    height:90vh;
    width: 100%;
    z-index: -5;
}
.introduction {
    text-align: center;
}

/*INFO*/
.info p{
        margin: 0;
}

/*DIARY*/
.diary p{
    text-align: center;
}
.icons{
    display: flex;
    flex-wrap: wrap;    
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.icons div{
    width: 30%;
}
.icons img{
    width: 100%;
    margin: auto 0;
}
.icons p{
    margin: 0 0 15px;
    padding: 0;
    text-align: center;
}
.icons img:hover, .icons p:hover{
    cursor: pointer;
}
icons p:hover{
    color: green;
}
.icons img:hover{
    opacity: 0.3;
    transition: 0.5s;
    color:"#fd626a";
    background-color: "#fd626a";
}

footer{
    background: url("../img/footer_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 300px;
}
footer p{
    margin: auto 0;
    position: absolute;
    bottom: 0;
}
